configuration {
    modi:           "drun,run,window";
    show-icons:     true;
    icon-theme:     "Papirus-Dark";
    drun-display-format: "{name}";
    display-drun:   "   Apps";
    display-run:    "   Run";
    display-window: "   Windows";
    font:           "JetBrainsMono NFP 13";
    terminal:       "kitty";
    kb-cancel:      "Escape";
}
